# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Pytest cache
.pytest_cache/

# Logs and databases
*.log
*.sqlite3

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Temporary files
*.swp
*.swo

raw_data/photos/
raw_data/annotations/
debug_failures/*
all_readings.txt
bledy_ocr.txt